doctype html
html.uk-height-1-1
  head
    title= title
    link(rel='stylesheet', href='/css/uikit.min.css')
    link(rel='stylesheet', href='/css/uikit.gradient.min.css')
    link(rel='stylesheet', href='/css/addons/uikit.addons.min.css')
    link(rel='stylesheet', href='/css/addons/uikit.gradient.addons.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    script(src='//yandex.st/jquery/2.1.1/jquery.min.js')
    script(src='/js/uikit.min.js')
    script(src='/js/addons/datepicker.min.js')
    script(src='/js/addons/form-select.min.js')
    script(src='/js/addons/pagination.min.js')
  body.uk-height-1-1
    block content