.b-items:hover
  background none !important
.b-login
  width 405px
  height 130px
.b-login-complete
  width 405px
  height 173px
.b-signup
  width 369px
  height 81px
.b-taken
  width 369px
  height 138px
.b-invalid
  width 405px
  height 173px
.b-reset
  width 345px
  height 81px
.b-close
  width 40px
  opacity 0.7
.b-close:after
  display none